*.svn
*.o
*.lo
*.la
*.log
*.libs
*.Plo
*.Po
*.conf
*.deps
*.dirstamp
*.dat
*.in
*_test
cscope.*
tags
Makefile
config.status
autom4te.cache/requests
Debug
config.h
libtool
random-seed
stamp-h1
COPYING
INSTALL
aclocal.m4
autom4te.cache/
compile
config.guess
config.sub
configure
depcomp
install-sh
ltmain.sh
m4/
missing
ssl_test
config.h.in~
pem_test
